@font-face {
    font-family: Roboto;
    src: url(assets/fonts/Roboto-Light.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    outline: none;
    list-style: none;
    border: none;
}
body {
    background-color: rgb(255, 255, 255);
}
a {
    text-decoration: none;
}
.container {
    display:flex;
    align-items: center;
    flex-direction: column;
}
.section1 {
    width:1600px;
    height:788px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(assets/img/bg-image.png) center center/cover no-repeat;
    position: relative;
   

}
.header {
    height: 95px;
    padding: 0 269px 0 269px;
    display:flex;
    justify-content: space-around;
}
header a {
    color:white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
}
.about {
    height:20px;
    border-bottom: 1px solid #FFFFFF;
    margin-top:38px;
}

.syllabus, .projects, .faq {
    height:20px;
    margin-top:38px;
}

.about:hover, .syllabus:hover, .projects:hover, .faq:hover {
    opacity:0.8;
    box-shadow: inset 0 -1px 0 0 white;
}

.yourlife {
    position: absolute;
height: 75px;
left: calc(50% - 730px/2);
top: calc(50% - 75px/2 - 104.5px);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 75px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 4.5px;
text-transform: uppercase;

color: #FFFFFF;
}

.whatever{
    position: absolute;
width: 504px;
height: 50px;
left: calc(50% - 504px/2);
top: calc(50% - 50px/2 - 22px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
/* or 25px */

text-align: center;

color: #FFFFFF;
}

.btn:hover {
    background: #009cc2;
}

.btn{
text-transform: uppercase;
color:#FFFFFF;
padding: 15px 47px;
position: absolute;
width: 184px;
height: 46px;
left: calc(50% - 184px/2);
top: calc(50% - 46px/2 + 56px);
background: #00AFDB;
cursor: pointer;
font-weight: bold;
}

.socials {
    width: 170px;
    height: 20px;
    left: calc(50% - 170px/2);
    position:absolute;
    display:flex;
    justify-content: space-around;
    bottom:90px;
}

.mail, .facebook, .instagram, .youtube {
    opacity:0.8;
}

.mail:hover, .facebook:hover, .instagram:hover, .youtube:hover {
    opacity:1;
}

.section2 {
    width:1600px;
    position: relative;
    display: flex;
    height: 842px;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
}

.rappresent {
/* Rappresent your life with a simple photo */


position: absolute;
width: 367px;
height: 57px;
left: 0px;
top: 0px;

/* h2-24-bold */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
letter-spacing: 1px;
text-transform: uppercase;

color: #373737;
}

.description {
    position: absolute;
    width: 407px;
    height: 80px;
    left: 0px;
    top: 77px;
    
    /* body-14-reg */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    
    
    color: #4E4E4E;

}
.section2left {
    position: absolute;
    top: 295px;
    left: 269px;
}

.btn1{
/* btn-main / default */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 15px 47px;
text-transform: uppercase;
position: absolute;
width: 184px;
height: 46px;
left: 0px;
top: 187px;
cursor: pointer;
background: #00AFDB;
font-weight: bold;
}

.btn1:hover {
   background: #009cc2;
}
.section2right{
    
    width: 407px;
    height: 582px;
    position: absolute;
    top: 120px;
    right: 269px;
    

background: url(assets/img/content-image-1.png), url(assets/img/content-image-1.png);
}

.section3 {
    width: 1600px;
    height: 504px;
    background: #FFFFFF;
}

.col1 {
    max-width: 1600px;
    width: 100%;
}

.user-card {
    position: relative;
    display: grid;
    grid-template-columns: 249px repeat(2, 407px) auto;
    align-items: center;

}

.usr-profile {
    width: 45px;
    position: absolute;
    top: 155px;
    left: 396px;
    height: 45px;
    border-radius: 50%;
    
    
}

.user-card h3 {
   
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    position: absolute;
    top: 220px;
    left: 338px;
    color: #373737;
    

}

.user-card p {
    position: absolute;
    width: 298px;
    height: 80px;
    left: 269px;
    top: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    text-align: center;
  
    color: #4e4e4e;

}

.col2-2 {
    position: relative;
    display: grid;
    grid-template-columns: 249px repeat(2, 407px) auto;
    align-items: center;
}

.col2 img{
    position: absolute;
    top: 120px;
    left: 706px;
    width: 407px;
    height: 244px;
}

.col3 img {
    position: absolute;
    top: 120px;
    left: 1143px;
    width: 407px;
    height: 244px;
}

.col4 img {
    position: absolute;
    left: 1580px;
    top: 120px;
}

.controls {
    width: 83px;
    height: 18px;
    position: absolute;
    top: 80.3px;
    left: 1250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.left:hover, .right:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .section4 {
    width:1600px;
    position: relative;
    display: flex;
    height: 842px;
    justify-content: space-around;
    align-items: center;  
    background: #FFFFFF;
  }

  .section4left{
/* content-image-2 */


position: absolute;
width: 407px;
height: 582px;
left: 269px;
top: 120px;

background: url(assets/img/content-image-2.png);
    
  }

  .section4right {
      /* content-block */


position: absolute;
width: 407px;
height: 184px;
left: 815px;
top: 319px;
  }

  .impl {



    position: absolute;
    width: 298px;
    height: 28px;
    left: 0px;
    top: 0px;
    
    /* h2-24-bold */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: #373737;
  }

  .desc {
/* text */


position: absolute;
width: 407px;
height: 60px;
left: 0px;
top: 48px;

/* body-14-reg */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* or 20px */


color: #4E4E4E;


  }

  .btn2 {
/* btn-main / default */


/* Auto Layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 15px 47px;
font-weight: 700;
position: absolute;
width: 180px;
height: 46px;
left: 0px;
top: 138px;
text-transform: uppercase;
background: #00AFDB;
cursor: pointer;
  }

  .btn2:hover {
    background: #009cc2;
  }

  .section5 {
    width: 1600px;
    height: 523px;
    background: url(assets/img/pexels-christina-morillo-1181675\ 1.png) center
      center/cover no-repeat;
    position: relative;
  }

  .signup {
      width:380px;
      height:28px;
    position: absolute;
    left: 610px;
    top: 200px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .input {
    position: absolute;
    width: 340px;
    height: 46px;
    left: 597px;
    top: 258px;
    background: #ffffff;
    border-radius: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: flex-end;
    color: #373737;
    padding-left: 24px;
  }
  .btn3 {
    position: absolute;
    width: 66px;
    height: 46px;
    left: calc(1097px - 160px);
    top: 258px;
    background: #00afdb;
    border-radius: 0px;
    cursor: pointer;
  }
  .btn3:hover {
    background: #009cc2;
  }

  .section6 {
    position: relative;
    width: 1600px;
    height: 464px;
    left: 0px;
    top: 0px;
    
    background: #FFFFFF;
  }

  .download {
      /* Download it */
width: 250px;
height: 28px;
position: absolute;
width: 250px;
height: 28px;
left: 675px;
top: 120px;

/* h2-24-bold */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

color: #373737;
  }

  .desc1 {
      /* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do */
width: 480px;
height: 40px;
position: absolute;
width: 480px;
height: 40px;
left: 560px;
top: 168px;

/* body-14-reg */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 140%;
/* or 20px */

display: flex;
align-items: center;
text-align: center;

color: #4E4E4E;

  }

  .apple {
    position: absolute;
    width: 127px;
    height: 46px;
    left: 599px;
    top: 238px;
    background: #00afdb;
    border-radius: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .apple > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    transform: translateX(20px);
  }

  .apple1 {
    position: absolute;
    width: 59px;
    height: 46px;
    left: 726px;
    top: 238px;
    background: #009cc2;
    border-radius: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    cursor: pointer;
  }

  .apple:hover {
    cursor: pointer;
    background: #009cc2;
  }

  .android {
    position: absolute;
    width: 127px;
    height: 46px;
    left: 815px;
    top: 238px;
    background: #00afdb;
    border-radius: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  .android > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    transform: translateX(20px);
  }

  .android1 {
    position: absolute;
    width: 59px;
    height: 46px;
    left: 942px;
    top: 238px;
    background: #009cc2;
    border-radius: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    cursor: pointer;
  }

  .android:hover {
    cursor: pointer;
    background: #009cc2;
  }

  .apple1 img:hover {
    -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
    -moz-transform:scale(1.1); /*Mozilla scale version*/
    -o-transform:scale(1.1); /*Opera scale version*/
    box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
    opacity: 1;
  }

  .android1 img:hover {
        -webkit-transform:scale(1.1); /*Webkit: Scale up image to 1.2x original size*/
        -moz-transform:scale(1.1); /*Mozilla scale version*/
        -o-transform:scale(1.1); /*Opera scale version*/
        box-shadow:0px 0px 30px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
        -webkit-box-shadow:0px 0px 30px gray; /*Safari shadow version*/
        -moz-box-shadow:0px 0px 30px gray; /*Mozilla shadow version*/
        opacity: 1;
  }

  .section7 {
      /* Rectangle 7 */


position: relative;
width: 1600px;
height: 185px;
left: 0px;
top: 0px;
background-image: url(assets/img/Rectangle\ 7.png) center no-repeat;

background: #000000;
  }

  .footer {
    position: relative;
    display: flex;
  }

  .fcol1 > ul > li.credits > a {
    position: absolute;
    width: 45px;
    height: 20px;
    left: 160px;
    top: 73px;
    border-right: 1px solid white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    padding-right: 70px;
  }
  .fcol1 > ul > li.privacy > a {
    position: absolute;
    width: 73px;
    height: 20px;
    left: 245px;
    top: 73px;
    border-right: 1px solid white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    padding-right: 70px;
  }
  .fcol1 > ul > li.teams > a {
    position: absolute;
    left: 331px;
    top: 73px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #ffffff;
    padding-right: 40px;
  }

  .fcol2 > a > img {
    position: absolute;
    top: 70px;
    right: 778px;
  }

  .copyright { 
          position: absolute;
    width: 170px;
    height: 20px;
    right: 160px;
    top: 73px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #818181;
  }

  .copyright > a:link, a:active, a:visited {
    color: #818181;
  }

 .copyright > a:hover {
    opacity:0.8;
  }

 .credits > a:hover, .privacy > a:hover, .teams > a:hover {
opacity:0.8;
  }